.glitch-text-container {
    display: inline-block;
    position: relative;
}

.glitch-text {
    font-size: inherit;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.glitch-text.glitch {
    opacity: 1;
    animation: glitch-effect 0.5s linear infinite;
}

@keyframes glitch-effect {
    0% { 
        transform: translate(0); 
    }
    20% { 
        transform: translate(-2px, 2px); 
    }
    40% { 
        transform: translate(-2px, -2px); 
    }
    60% { 
        transform: translate(2px, 2px); 
    }
    80% { 
        transform: translate(2px, -2px); 
    }
    100% { 
        transform: translate(0); 
    }
}
