.draggable-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.draggable-element {
    position: absolute;
    cursor: move;
    z-index: 10; /* Ajustez le z-index pour éviter la superposition indésirable */
}
